{% extends "__Base.html" %}
{% load static %}

{% block content %}

        <input type="hidden" id="user_id" value="{{user.pk}}">
        <input type="hidden" id="owner_company" value="{{pk}}">
        <input type="hidden" id="customer_company_id" value="{{customer_company_id}}">

        <a type="button" class="btn btn-success" href="{% url 'Company:create_contact' customer_company_id=customer_company_id %}">Crear Contacto</a>

        <br>
        <br>
        <br>
        <h4>Listado Contactos</h4>
            <table class="table" id="customer-companies-table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Email</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Celular</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>

{% endblock content %}

{% block script %}
        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        {{ block.super }}
        <script src="{{ STATIC_URL }}js/ajax_post_request.js"></script>
        <script src="{{ STATIC_URL }}js/contacts.js"></script>

{% endblock script %}