{% load staticfiles %}
{% load static %}

<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
      {% block title %} SALESFORCE {% endblock title %}
    </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% if form %}
    {{ form.media }}
    {% endif %}


  </head>

  <body data-spy="scrollspy" data-target=".bs-docs-sidebar">
    <nav class="navbar navbar-light bg-light">

      <div class="container">
        <div class="navbar-header">
                <b><a class="navbar-brand" href=""> SALESFORCE </a></b>

        </div>

        {% if  user.is_authenticated %}
          {% if create_company_url %}
          <div class="nav navbar-nav">
                  <ul class="nav navbar-nav">
                        <li class="active"><a href="{{create_company_url}}">Crear Empresa</a></li>
                  </ul>
             </div>
          {% endif %}
            <div class="nav navbar-nav">
                  <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'home:logout' %}">Salir</a></li>
                  </ul>
             </div>

          <div class="nav navbar-nav">
                  <ul class="nav navbar-nav">
                        <li class="active">Usuario: {{user.username}}</li>
                  </ul>
             </div>

        {% else %}

             <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'home:login' %}">Ingresar</a></li>
                  </ul>
             </div>


        {% endif %}

      </div>
    </nav>

    <br/>
    <br/>
    <br/>
    <br/>

    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">

            <div class="col-md-12">

                {% if user.is_authenticated %}
                 <h4>Listado {{title}}</h4>
                    <table class="table" id="companies-table">
                      <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">NIT</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Nombre Comercial</th>
                          <th scope="col">direccion</th>
                          <th scope="col">telefono</th>
                          <th scope="col">Eliminar</th>
                        </tr>
                      </thead>
                      <tbody>

                      </tbody>
                    </table>

                {% else %}
                    {% block denied %}
                    No se encuentra autenticado, por favor ingrese al formulario de
                    <a href="{% url 'home:login' %}">Acceso</a>
                    <p>Si aun no se ha registrado, siga el sigueinte enlace <a href="{% url 'home:signup' %}">Registro</a> </p>
                    {% endblock denied %}
                {% endif %}
            </div><!--/.col-xs-12.col-sm-9-->

            <input type="hidden" id="user_id" value="{{user.pk}}">

        </div><!--/row-->

      <hr>
      <footer>
          <p>
          {% block piePagina %}
              &copy; SALESFORCE 2021. Fecha y Hora de Ejecución: {% now "DATETIME_FORMAT" %}.

          {% endblock piePagina %}
      </footer>

    </div><!--/.container-->

    {% block script %}
        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{{ STATIC_URL }}js/company.js"></script>
    {% endblock script %}

  </body>

</html>
